@font-face {
    font-family: "IntegralCF";
    src:
        url("fonts/IntegralCFRegular.woff2") format("woff2"),
        url("fonts/IntegralCFRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    position: relative;
}

.whatsapp__popup {
    position: fixed;
    background-color: #000;
    padding: .9em;
    border-radius: 100vw;
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

body > header {
    min-height: 100vh;
}

nav {
    position: sticky;
    top: 0;
    background-color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    padding-left: 0;
    height: 12vh;
    z-index: 10;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    
}

nav ul a {
    padding: 2em 0;
}

ul a {
    font-family: "inter";
    color: #fff;
    transition: color .4s ease;
    -webkit-user-select: none;
    user-select: none;
}

ul a:hover {
    color: #e5e5e5;
}


.current__page {
    color: #939393;
}

a {
    text-decoration: none;
}

.links__icon {
    display: none;
}

.hero {
    height: 88vh;
    overflow: hidden;
    position: relative;
}

video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    isolation: isolate;
}

.hero__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

h1.hero__title {
    font-family: "IntegralCF";
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    font-size: 38px;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cta__button {
    background-color: #bf2524;
    color: #fff;
    padding: .5em 1em;
    font-family: "Montserrat";
    transition: all .4s ease;
}

.cta__button:hover {
    background-color: #931b1b;
}

.hero__paragraph {
    font-family: "Montserrat";
    color: #e5e5e5;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.features {
    min-height: 50vh;
    padding: 4em;
    text-align: center;
    background-color: #000;
}

.features .features__container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 120px 40px;
    margin-bottom: 20px;
}

.features .features__header {
    margin-bottom: 5rem;
    font-size: 32px;
    font-family: "IntegralCF";
}

.features .features__header {
    transform: translateY(50%);
    opacity: 0;
    transition: all .8s ease;
}

.features .features__header.show {
    transform: translateY(0);
    opacity: 1;
}

.features__container .feature {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 16px rgba(255, 97, 97, .55);
    transition: all .8s ease;
    translate: -50%;
    cursor: pointer;
    background-color: #d30000;
    border-radius: 1rem;
    opacity: 0;
}

.feature.show {
    opacity: 1;
    translate: 0;
}

.features__container .feature:hover {
    transform: scale(1.05);
}

.feature .feature__img {
    margin-bottom: 1rem;
    height: 100%;
    width: 60px;
}

.feature .feature__title {
    font-family: "inter";
    margin-bottom: .8rem;
}

.feature .feature__paragraph {
    font-family: "Montserrat";
}


@media (max-width: 750px) {
    .cta {
        flex-direction: column;
    }

    nav ul {
        display: none !important;
    }

    .hero__header {
        padding: 3em 1.5em;
    }

    .links__icon {
        display: block;
    }


    section h2 {
        font-size: 30px !important;
    }

    h1.hero__title {
        font-size: 32px;
    }

    .features .features__header {
        font-size: 28px;
    }
}