@font-face {
    font-family: "IntegralCF";
    src:
        url("fonts/IntegralCFRegular.woff2") format("woff2"),
        url("fonts/IntegralCFRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-red: #d30000;
    --primary-black: #000;
    --primary-white: #fff;
    --secondary-red: #ff6161;
    --secondary-black: #939393;
    --secondary-white: #e2e2e2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    position: relative;
}

.whatsapp__popup {
    position: fixed;
    background-color: #000;
    padding: .9em;
    border-radius: 100vw;
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

body > header {
    min-height: 100vh;
}

nav {
    position: sticky;
    top: 0;
    background-color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    padding-left: 0;
    height: 12vh;
    z-index: 10;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul a {
    padding: 2em 0;
}

ul a {
    font-family: "inter";
    color: #fff;
    transition: color .4s ease;
    -webkit-user-select: none;
    user-select: none;
}

ul a:hover {
    color: #e5e5e5;
}


.current__page {
    color: #939393;
}

a {
    text-decoration: none;
}

.links__icon {
    display: none;
}

.hero {
    height: 88vh;
    overflow: hidden;
    position: relative;
}

img {
    display: block;
}

video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    isolation: isolate;
}

.hero__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

h1.hero__title {
    font-family: "IntegralCF";
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    font-size: 38px;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cta__button {
    background-color: #bf2524;
    color: #fff;
    padding: .5em 1em;
    font-family: "Montserrat";
    transition: all .4s ease;
}

.cta__button:hover {
    background-color: #931b1b;
}

.features,
.graphics,
.photography,
.videography,
.pricing {
    min-height: 50vh;
    padding: 4em;
    text-align: center;
    background-color: #000;
}

.features {
    padding: 4em 0;
}

section.photography,
section.videography {
    padding: 4em 0 !important;
}

.features .features__container,
.graphics .graphics__container,
.photography .photography__container,
.videography .videography__container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-auto-rows: 200px;
    gap: 80px;
    margin-bottom: 20px;
}

.photography .photography__container,
.videography .videography__container {
    grid-template-columns: 1fr;
    gap: 80px;
}

.features .features__header,
.graphics .graphics__header,
.photography .photography__header,
.videography .videography__header,
.pricing .pricing__header {
    margin-bottom: 5rem;
    font-size: 32px;
    font-family: "IntegralCF";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main > .features > .features__header {
    font-size: 48px;
}

.features .features__header {
    transform: translateY(50%);
    opacity: 0;
    transition: all .8s ease;
}

.features .features__header.show {
    transform: translateY(0);
    opacity: 1;
}

.feature {
    box-shadow: 0 0 16px rgba(255, 97, 97, .55);
    transition: all .8s ease;
    translate: -50%;
    cursor: pointer;
    background-color: #d30000;
    border-radius: 1rem;
    opacity: 0;
}

.feature.show {
    opacity: 1;
    translate: 0;
}

.graphics .feature:hover {
    transform: scale(1.05);
}

.feature .feature__img {
    margin-bottom: 1rem;
    height: 100%;
    width: 60px;
}

.graphics__container .graphic,
.photography__container .photo,
.videography__container .video {
    width: 100%;
    height: 100%;
    background-color: #931b1b;
}

.pricing .pricing__header {
    margin-bottom: 1.5rem;
}

.pricing .pricing__paragraph {
    margin-bottom: 60px;
    font-family: "inter";
    color: #e2e2e2;
}

.pricing .schedule {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(in oklab to bottom, var(--secondary-red), var(--primary-red));
    margin-bottom: 80px;
    border-radius: 1rem;
}

.schedule .schedule__header,
.pricing__container .item__header {
    font-family: "IntegralCF";
    font-size: 24px;
}

.schedule .cta__button {
    border-radius: 100vw;
}

.pricing .pricing__container {
    background-image: linear-gradient(to bottom, var(--secondary-red), var(--primary-red));
    padding: 2em;
    border-radius: 1rem;
}

.pricing__container .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item .item__paragraph {
    font-family: "inter";
    color: #e2e2e2;
}

.item ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.item ul li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.item .cta__button {
    display: flex;
    justify-content: space-between;
    border-radius: 100vw;
    padding: 1em 2em;
}

.item .cta__button:hover,
.schedule .cta__button:hover {
    scale: 1.015;
}

.item .cta__button .price__span {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 24px;
    font-weight: 700;
}

.item .cta__button .price__span span {
    font-size: 12px;
    align-self: flex-end;
    padding-bottom: 4px;
    font-weight: 400;
}

@media (max-width: 750px) {
    .cta {
        flex-direction: column;
    }

    nav ul {
        display: none !important;
    }

    .hero__header {
        padding: 3em 1.5em;
    }

    .links__icon {
        display: block;
    }


    section h2 {
        font-size: 30px !important;
    }

    h1.hero__title {
        font-size: 32px;
    }

    main > .features > .features__header {
        font-size: 42px !important;
    }

    .features .features__header {
        font-size: 28px;
    }

    .graphics .graphics__header {
        gap: 10px;
    }

    .item ul {
        grid-template-columns: 1fr;
    }

    .pricing {
        padding: 4em 2em;
    }
}